<% title "Editing: #{@user.email}" %>
<% form_for(@user) do |f| %>
  <%= error_message_on :user_session, :base, :css_class => 'form error' %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.check_box :active %>
  <%= f.check_box :confirmed %>
  <%= f.check_box :administrator %>
  <%= f.submit 'Update' %>
  <ol class='links'>
    <li><%= link_to 'Back', @user %></li>
  </ol>
<% end %>
