<% title 'Users' %>

<table class="users">
  <thead>
    <tr>
      <th rowspan="2">ID</th>
      <th rowspan="2">Email</th>
      <th rowspan="2">Logins</th>
      <th colspan="2">Current Login</th>
      <th rowspan="2">Last Request</th>
      <th colspan="2">Last Login</th>
      <th rowspan="2">Failed Logins</th>
      <th rowspan="2" colspan="3">Status</th>
      <th rowspan="2" colspan="3"></th>
    </tr>
    <tr>
      <td>Time</td>
      <td>IP</td>
      <td>Time</td>
      <td>IP</td>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="16"><%= will_paginate(@users) %></td>
    </tr>
  <tfoot>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%=h user.id %></td>
      <td><%= link_to user.email, "mailto:#{user.email}" %></td>
      <td><%=h user.login_count %></td>
      <td><%= time_ago_in_words(user.current_login_at) unless user.current_login_at.nil? %></td>
      <td><%=h user.current_login_ip %></td>
      <td><%= time_ago_in_words(user.last_login_at) unless user.last_login_at.nil? %></td>
      <td><%=h time_ago_in_words(user.last_request_at) unless user.last_request_at.nil? %></td>
      <td><%=h user.last_login_ip %></td>
      <td><%=h user.failed_login_count %></td>
      <td><%= image_tag 'images/active.png' if user.active? %></td>
      <td><%= image_tag 'images/confirmed.png' if user.confirmed? %></td>
      <td><%= image_tag 'images/administrator.png' if user.administrator? %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Delete', user_path(user), :method => :delete, :confirm => 'Are you sure you want to delete this user?' %></td>
    <% end %>
    </tr>
  </tbody>
</table>
